<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <% if(user){ %>
  <h2 style="color:blue;"><%= user.email %></h2>

  <form action="/logout" method="POST" style="margin:50px;">
    <input id="logoutBtn" type="submit" value="Logout">
  </form>
<% } else{ %>
  <a style="margin:20px;" href="/register">Register<a>
  <a style="margin:20px;" href="/login">Login<a>
<% }; %>

</body>
</html>



<!-- instead of passing cookie in the cookie value into the templatesvars, and endpoints rending the partial should now pass the entire object by lookinh it up in th users object   -->

<!-- chane the templatevars to pass in a user object proerty instead of the username   -->

