<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <form action="/login" method="POST" style="margin:150px;">
    <input id="username" type="text" name="username" placeholder="Please Enter A Username" style="width: 300px">
    <input id="loginBtn" type="submit" value="Submit">
    <h4><%= username %></h4>
  </form>


</body>
</html>
