<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <h2 style="color:blue;"><%= users %></h2>
  <% if(!users){ %>
   <form action="/login" method="POST" style="margin:50px;">
    <input id="username" type="text" name="username" placeholder="Please Enter A Username" style="width: 300px">
    <input id="loginBtn" type="submit" value="Login">
  </form>
 <% } else{ %>
   <form action="/logout" method="POST" style="margin:50px;">
    <input id="logoutBtn" type="submit" value="Logout">
  </form>
<% } %>




</body>
</html>



<!-- instead of passing cookie in the cookie value into the templatesvars, and endpoints rending the partial should now pass the entire object by lookinh it up in th users object   -->

<!-- chane the templatevars to pass in a user object proerty instead of the username   -->