<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ../views/partials/_header %>
  </header>
  <ul>
      <% for (var url in urls) { %>
          <li><%= urls[url] %></li>
      <% }; %>
  </ul>
  <a href="#">New URL</a>
</body>
</html>