<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ../views/partials/_header %>
  </header>

  <h2> URL LIST </h2>
  <ul>
      <% for (var url in urls) { %>
          <li><%= urls[url] %> </li>

          <form method="POST" action="/urls/9sm5xK/delete"><button>Remove</button></form>
      <% }; %>
  </ul>
  <a href="#">New URL</a>
  <form method="POST" action="/urls/9sm5xK/delete">...</form>
</body>
</html>