<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New URL</title>
  </head>

  <body>
    <header>
      <% include ../views/partials/_header %>
    </header>

    <div style="height: 200px; width: 400px; background-color: #CAE1FF;">
      <div style="padding: 10px; display:flex; justify-content: center">
        <h2> New URL </h2>
      </div>
      <div style="padding: 10px; display:flex; justify-content: center">
        <form action="/urls" method="POST">
          <label for="longURL" style="font-size:16px;">Enter a URL:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px; padding:5px">
          <input type="submit" value="Submit" style="padding: 5px;">
        </form>
      </div>
      </div>
    </div>

  </body>
</html>

