<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ../views/partials/_header %>
  </header>

  <h2> URL LIST </h2>
  <ul>
      <% for (var url in urls) { %>
          <li><%= urls[url] %></li>
          <form method="POST" action="/urls/<%= url %>/delete" ><button type="submit">Remove</button></form>
          <a href="/urls/<%= url %>">Edit<a>
      <% }; %>
  </ul>
  <a href="/urls/new">New URL<a>
</body>
</html>