<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show URLS</title>
</head>

<body>
  <header>
    <% include ../views/partials/_header %>
  </header>

  <h2>Single URL</h2>
  <ul>
    <li>ShortURL: <%= shortURL %></li>
    <!-- <li><%= longURL %></li> -->
    <form action="/urls/<%= shortURL %>" method="POST">
      <input id="update" type="text" value="<%= longURL %>" name="update" style="width: 300px">
      <input type="submit" value="Update">
    </form>
    <a href="/urls">URL List<a>
  </ul>


</body>
</html>

