<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Registration</title>
</head>

<body>

  <h2>User Registration</h2>
  <form action="/register" method="POST">
    <!-- Email -->
      <label for="email">Enter a:</label> <!-- Remove? -->
      <input id="regEmail" type="email" name="email" placeholder="Email" style="width: 300px">
      <!-- Password -->
      <label for="password">Enter a:</label> <!-- Remove? -->
      <input id="regPassword" type="password" name="password" placeholder="Password" style="width: 300px">
      <input type="submit" value="Submit">
    </form>

</body>
</html>